<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCWXjzy4LBQFQh7vuRcYpi2ss3-R4ZnioA</string>
	<key>GCM_SENDER_ID</key>
	<string>1092706573541</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.lifeloop</string>
	<key>PROJECT_ID</key>
	<string>lifeloop-83565</string>
	<key>STORAGE_BUCKET</key>
	<string>lifeloop-83565.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1092706573541:ios:35350e44ab0c32933cc80c</string>
</dict>
</plist>